section.about 
    .container 
        +blockBox("What we do", "Story about us", "Bạn luôn muốn sở hữu ngôi nhà đẹp, được thiết kế độc đáo và tinh tế, nơi xây dựng tổ ấm, hạnh phúc nhưng luôn gặp phải rất nhiều khó khăn. Chúng tôi hiểu và đồng cảm điều đó và sẵn sàng đồng hành cùng các bạn để thực hiện ước mơ đó.")
        .about-list 
            +aboutItem({ 
              src:  "../images/img-about4.png", 
              title: "Super Team",
              icon: "fa fa-users"
            })
            +aboutItem({ 
              src:  "../images/img-about5.png", 
              title: "Super Team",
              icon: "fa fa-users"
            })
            +aboutItem({ 
              src:  "../images/img-about6.png", 
              title: "Super Team",
              icon: "fa fa-users"
            })
            
            
                    