section.about 
    .container 
        +blockBox("What we do", "Story about us", "Over a cup of coffee, we bring people together. It’s time to celebrate what Starbucks has been, who we are and a reimagining of who we’re going to be.")
        .about-list 
            +aboutItem({ 
              src:  "../images/img-about1.png", 
              title: "Super Team",
              icon: "fa fa-users"
            })
            +aboutItem({ 
              src:  "../images/img-about2.png", 
              title: "Super Team",
              icon: "fa fa-users"
            })
            +aboutItem({ 
              src:  "../images/img-about3.png", 
              title: "Super Team",
              icon: "fa fa-users"
            })
            
            
                    