footer.footer
    .container 
        .footer-top 
            .footer-column
                a(href="index.html").footer-heading.footer-heading--logo MadeStore
                p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium incidunt, rem, sequi eveniet voluptates recusandae eaque nulla possimus sed fugiat suscipit eos, repudiandae ex? Delectus vel fuga minus accusamus tempore.
                p.footer-follower <strong>15k </strong> followers 
                .footer-social 
                    span.text Follow Us:
                    .footer-social-list 
                        a.footer-social-icon(href="")
                            i.fab.fa-facebook 
                        a.footer-social-icon(href="")
                            i.fab.fa-twitter
                        a.footer-social-icon(href="")
                            i.fab.fa-instagram 
                        a.footer-social-icon(href="")
                            i.fab.fa-pinterest 
                        a.footer-social-icon(href="")
                            i.fab.fa-youtube 
                        a.footer-social-icon(href="")
                            i.fab.fa-google-plus-g
                        a.footer-social-icon(href="")
                            i.fas.fa-envelope 
                        a.footer-social-icon(href="")
                            i.fas.fa-share
                form.footer-form(action="javascript:void(0)")
                    input(type="email" placeholder="Your Email").footer-form-input 
                    button.footer-form-button Subscribe

            .footer-column
                h3.footer-heading Blogs 
                a(href="#").footer-blog 
                    img.footer-block-image(src="../images/img-blogs1.png")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quam sequi est atque reprehenderit. Commodi laudantium doloremque nostrum. 
                        span.footer-blog-date.text.text-light jan 9 ,2016
                a(href="#").footer-blog 
                    img.footer-block-image(src="../images/img-blogs2.png")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quam sequi est atque reprehenderit. Commodi laudantium doloremque nostrum. 
                        span.footer-blog-date.text.text-light jan 9 ,2016
                a(href="#").footer-blog 
                    img.footer-block-image(src="../images/img-blogs3.png")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quam sequi est atque reprehenderit. Commodi laudantium doloremque nostrum. 
                        span.footer-blog-date.text.text-light jan 9 ,2016
            .footer-column
                h3.footer-heading Instagram 
                .footer-images 
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                    .footer-image 
                        img(src="./images/img-instagram1.png", alt="")
                a(href="#").footer-images-more.text.text--light View more photos
        .footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>
