section.people
    .container
        +blockBox("Happy Client","What people say")
        ul.people-list 
            +peopleItem("./images/img-people1.png", "Matthew Dix", "Graphic design", "Lorem ipsum dolor, sit amet consectetur adip")
            +peopleItem("./images/img-people2.png", "Nick Karvounis", "Graphic design", "Lorem ipsum dolor, sit amet consectetur adip")
            +peopleItem("./images/img-people3.png", "Jaelynn Castillo", "Graphic design", "Lorem ipsum dolor, sit amet consectetur adip")
            +peopleItem("./images/img-people4.png", "Mike Petrucci", "Graphic design", "Lorem ipsum dolor, sit amet consectetur adip")