section.quote 
    .container 
        .quote-container 
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow 
            +quoteItem("../images/img-quote.png", false,"Muốn xây dựng một ngôi nhà đẹp, nhưng bạn lại không tìm được một đơn vị thực hiện ưng ý, đó là sự thiệt thòi ","John Doe" )
            +quoteItem("https://images.unsplash.com/photo-1654424467186-03b8569eeb87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60", true,"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia magnam asperiores, enim architecto ducimus laudantium numquam voluptatem quasi ullam ipsa sunt ad tenetur neque repellendus aliquid nesciunt! Non, error perferendis. ","John Doe" )
            +quoteItem("../images/img-quote.png", false,"Không cần chờ đến hoàn thiện, với chúng tôi ở một giai đoạn hình thành, chúng đều có nét đẹp riêng ","John Doe" )
            
            //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow 
