section.service 
    .container 
        +blockBox("We work with", "Amazaing Services")
        .service-cotainer 
            .service-list   
                +serviceItem("../images/img-service-icon1.png", "Passenger transport", "Lorem ipsum, dolor sit amet consectetur adipisicing um facere asperiores eveniet incidunt in voluptatum suscipit aliquam saepe quibusdam!" )
                +serviceItem("../images/img-service-icon2.png", "Management consulting", "Lorem ipsum, dolor sit amet consectetur adipisicing um facere asperiores eveniet incidunt in voluptatum suscipit aliquam saepe quibusdam!" )
                +serviceItem("../images/img-service-icon3.png", "Creativity", "Lorem ipsum, dolor sit amet consectetur adipisicing um facere asperiores eveniet incidunt in voluptatum suscipit aliquam saepe quibusdam!" ) 
            .service-list   
                +serviceItem("../images/img-service-icon4.png", "Travel", "Lorem ipsum, dolor sit amet consectetur adipisicing um facere asperiores eveniet incidunt in voluptatum suscipit aliquam saepe quibusdam!" )
                +serviceItem("../images/img-service-icon5.png", "Real estate business", "Lorem ipsum, dolor sit amet consectetur adipisicing um facere asperiores eveniet incidunt in voluptatum suscipit aliquam saepe quibusdam!" )
                +serviceItem("../images/img-service-icon6.png", "DIGITAL", "Lorem ipsum, dolor sit amet consectetur adipisicing um facere asperiores eveniet incidunt in voluptatum suscipit aliquam saepe quibusdam!" )
            