section.story 
    .container 
        +blockBox("Our stories", "Latest Blog")
        ul.story-list     
            +storyItem("../images/img-blog1.png", "15" ,"Jan", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis impedit itaque beatae id iure repellat dolor nihil nulla saepe dign", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam animi unde deleniti laboriosam? Quasi aliquam, odio ut, quos nulla fuga eius iusto veritatis praesentium nihil, odit aut. Quasi, saepe cupiditate.","532","5")
            +storyItem("../images/img-blog2.png", "15" ,"Jan", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis impedit itaque beatae id iure repellat dolor nihil nulla saepe dign", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam animi unde deleniti laboriosam? Quasi aliquam, odio ut, quos nulla fuga eius iusto veritatis praesentium nihil, odit aut. Quasi, saepe cupiditate.","532","5")
            +storyItem("../images/img-blog3.png", "15" ,"Jan", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis impedit itaque beatae id iure repellat dolor nihil nulla saepe dign", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam animi unde deleniti laboriosam? Quasi aliquam, odio ut, quos nulla fuga eius iusto veritatis praesentium nihil, odit aut. Quasi, saepe cupiditate.","532","5")

section.map 
    .container 
        .map-content 
            img.map-icon(src="./images/img-map-icon.png", alt="")
            h2.map-heading open map