section.team 
    .container 
        +blockBox("Who we are", "Meet our team", " Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, ea corrupti assumenda maiores voluptatibus quas enim, commodi, quam asperiores earum unde atque ut? Dicta quae nam laborum! Nobis, facilis adipisci.r")
        .team-list 
            +teamItem("./images/img-team1.png","Mather Dix", "Chief Architect")
            +teamItem("./images/img-team2.png")
            +teamItem("./images/img-team3.png", "Michael Fertig", "Interior Designer")

section.brand 
    .container 
        img(src="./images/img-logos.png", alt="brands")
            
